body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* default background color */
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.yes-btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.no-btn {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.success-body {
    background-color: #f0f; 
    color: white; 
}

.index-body {
    background-color: #0ff; 
    color: white;
}


@keyframes handwriting {
    0% {
        content: '';
    }
    100% {
        content: 'A';
    }
}

.handwritten::after {
    content: 'Are you Rimy?';
    display: inline-block;
    overflow: hidden;
    animation: handwriting 4s steps(16) infinite;
}
