body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; 
}

.container {
    text-align: center;
    margin-top: -50px; /* Lift the container up */
}

h1 {
    font-size: 3em; /* Increase font size */
    margin-bottom: 20px;
}

.yes-btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: -20px;
}

.no-btn {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: -20px;
}

.success-body {
    background-color: #f0f; 
    color: white; 
}

.index-body {
    background-color: #0ff; 
    color: white;
}

@keyframes handwriting {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.handwritten {
    overflow: hidden;
    white-space: nowrap;
    animation: handwriting 0.5s steps(30) infinite;
}


@font-face {
    font-family: 'YourChosenFont'; /* Give your font a name */
    src: url('path/to/your/font.woff2') format('woff2'); /* Replace 'path/to/your/font.woff2' with the actual path to your font file */
    /* You can include additional src declarations for different font formats (e.g., woff, ttf) for better browser compatibility */
}

.handwritten {
    font-family: 'YourChosenFont', cursive; /* Use the 'YourChosenFont' font, fallback to cursive if not available */
    overflow: hidden;
    white-space: nowrap;
    animation: handwriting 1s steps(30) infinite;
}
